body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
    font-size: 32px;
}

.auth-buttons button {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
}

.auth-buttons button:hover {
    background-color: #0056b3;
}

.category-buttons {
    display: flex;
    justify-content: space-around;
    margin: 100px 50px;
}

.category-buttons button {
    padding: 200px 150px;
    font-size: 24px;
    cursor: pointer;
    background-color: #28a745;
    border: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.category-buttons button:hover {
    background-color: #218838;
}

.form-container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

.form-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}